body {
  background-color: #c9a3db80;
  background-image: url('/about-me/img/canyon2.jpg');
  background-repeat: no-repeat;
  margin: auto;
}


header {
  text-align: center;
}
header img {
  width: .5em;
}

h1 {
  font-size: 6em;
  font-family: cursive;
  color:rgb(41, 1, 39)
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  color: rgb(89, 54, 153);
  text-align: center;
  margin-bottom: .5em;
}

section {
  border: 2px solid rgb(8, 44, 97);
  background-color: rgb(190, 218, 229);
  padding: 5px;
  margin: 2em auto;
}

#intro {
  text-align: center;
  max-width: 40em;
  margin: auto;
}

#interests {
  text-align: center;
  max-width: 40em;
  margin: auto;
}

#gallery {
  width: 60em;
}

.info {
  width: 75%;
}

/* #infoboxes {
  width:800px;
  height:200px;
  background-color: royalblue;
  padding: 20px 15px 20px 15px;
  display: block;
} */

/* #leftbox {
  float: left;
  width: 220px;
  height: 160px;
}

#middlebox {
  float: left;
  width: 220px;
  height: 160px;
}

#rightbox {
  float: right;
  width: 220px;
  height: 160px;
} */

.gallerypic {
  height: 13.09em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  line-height: 1.5em;
}

ul {
  list-style:square;
  list-style-position: inside;
  line-height: 1.5em;
}